node_modules
src
tests
coverage
reports
.nyc_output
.mocharc.json
.vscode
.env
.eslintignore
.eslintrc
.gitignore
.github
.stryker-tmp
eslint.config.mjs
stryker.config.json
tsconfig.json
tsconfig.eslint.json