name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x, 24.x]

    steps:
    - uses: actions/checkout@v6.0.1

    - name: Using Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6.2.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install
      run: npm ci

    - name: Lint
      run: npm run lint

    - name: Build
      run: npm run build

    - name: Test
      run: npm run test
    
    - name: Upload coverage report to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        slug: "michalusio/parser"
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV }}
  
  mutate:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - uses: actions/checkout@v6.0.1

    - name: Using Node.js 24.x
      uses: actions/setup-node@v6.2.0
      with:
        node-version: 24.x
        cache: 'npm'

    - name: Install
      run: npm ci

    - name: Restore mutation incremental file
      uses: actions/cache/restore@v4
      with:
        path: |
          reports/stryker-incremental.json
        key: stryker-incremental

    - name: Mutation testing
      run: npm run test:mutate

    - name: Cache mutation incremental file
      uses: actions/cache/save@v4
      with:
        path: |
          reports/stryker-incremental.json
        key: stryker-incremental